@font-face {
  font-family: "Proxima Nova"; 
  src: url("../Fonts/proxima-nova-regular.ttf") format("truetype"); 
  } 


body{
  margin-top: 0%;
  }
header{
  height: 900px;
  right: 0px;
  top: 0px;
  background: #F7F5F3;
  background-image: url("../Images/Desktop/Group1548.png");
  /*background-position: center; */
}



/* БЛОК ТИТУЛА  ПЕРЕДЕЛАТЬ ВЕСЬ _ */
.title{
position: absolute;
width: 1440px;
height: 108px;
left: 0px;
top: 20px;
border-bottom: 1px solid #D2D2D2;;
}

.Logo{
  position: absolute;
  left: 11.46%;
  right: 70.14%;
  top: 0%;
  bottom: 73.94%;
}

.adress
{
  position: absolute;
  width: 449px;
  height: 14px;
  left: 823px;
  top: 7px;
  font-family: Proxima Nova;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #434343;
}

.telephone{
  position: absolute;
  width: 449px;
  height: 14px;
  left: 823px;
  top: 7px;
  font-family: Proxima Nova;
  font-style: normal;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #434343;
  }





/* БЛОК МЕНЮ  ПЕРЕДЕЛАТЬ ВЕСЬ  */

.menu{
  position: absolute;
  width: 1440px;
  height: 60px;
  left: 0px;
  top: 48px;
  border-top: 1px solid #D2D2D2;
  
}

.services{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
  position: absolute;
  left: 11.46%;
  right: 83.4%;
  top: 65.74%;
  bottom: 21.3%;

}

.prise{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 20.62%;
  right: 67.99%;
  top: 65.74%;
  bottom: 21.3%;
}

.stocks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 36.04%;
  right: 60.56%;
  top: 65.74%;
  bottom: 21.3%;
}

.cynolist{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 43.47%;
  right: 51.81%;
  top: 65.74%;
  bottom: 21.3%;
}

.garden{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 52.22%;
  right: 40.97%;
  top: 65.74%;
  bottom: 21.3%;

}
.coloring{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 63.06%;
  right: 29.51%;
  top: 65.74%;
  bottom: 21.3%;

}
.masters{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 74.51%;
  right: 21.04%;
  top: 65.74%;
  bottom: 21.3%;
}
.vacancy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 82.99%;
  right: 11.67%;
  top: 65.74%;
  bottom: 21.3%;  
}
.about-tutle{
  position: absolute;
  width: 888px;
  height: 212px;
  left: 276px;
  top: 228px;
  /*
  position: relative;
  margin: 100px auto;
  */
}
.about-tutle h1{
  
  
  font-family: Proxima Nova;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
  
color: #434343;
}
.about-tutle a{
  font-family: Proxima Nova;
font-size: 57px;
font-style: italic;
font-weight: 400;
line-height: 63px;
letter-spacing: 0em;
text-align: center;


}
.about-tutle p{
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}



/* БЛОК СЕРВИСОВ   СДЕЛАТЬ ЦЕНТРИРОВАНИЕ  _ */



.main-sevrvise{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute; /*удалить */
  width: 939px;
  height: 522px;
  left: 245px;
  top: 800px;
  text-align: center;
  /*margin: -137px auto; */
}

.main-sevrvise h1{
  height: 28px;
  left: 313px;
  top: 904px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 115%;
  /* identical to box height, or 28px */
  text-align: center;
  color: #434343;
}

.main-sevrvise p{
  height: 88px;
  width: 180px;
  left: 993px;
  top: 948px;
  border-radius: nullpx;
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;

}
/* БЛОК ПОИСКА ПО ПОРОДАМ  не сделанЫ СТИЛИ  _ */

.checkbreed{
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 1056px;
  height: 258px;
  left: 165px;
  top: 1462px;

}

.checkbreed h1{
  width: 540px;
  height: 82px;
  left: 165px;
  top: 1462px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  color: #434343;
}
.checkbreed p{
  width: 540px;
  height: 75px;
  left: 165px;
  top: 1572px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  color: #434343;
}

/* ЛИНК КАТЕГОРИЙ -  не сделаны _ */



.categories{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  width: 1109px;
  height: 628px;
  left: 165px;
  top: 1880px;
  
}
.categories p{
  position: absolute;
  padding-left: 40px;
  width: 169px;
  height: 62px;
  

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* or 31px */

  text-transform: uppercase;

  /* Basic Gray */

  color: #434343;
}





/* БЛОК МАСТЕРОВ  не сделаны _ */
.staff{
  display: flex;
  position: absolute;
  width: 1111px;
  height: 524px;
  left: 164px;
  top: 2668px;
  margin: auto;
}

.staff h1{
  font-family: Proxima Nova;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

.workers{
  /*position: absolute; */
  width: 162px;
  height: 163px;
  left: 1111px;
  top: 2668px;
}

.workers p{
  font-family: Proxima Nova;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}