/*@font-face {
  font-family: "Proxima Nova"; 
  src: url("../Fonts/proxima-nova-regular.ttf") format("truetype"); 
}*/
@font-face {
  font-family: "Proxima Nova"; 
  src: url("../Fonts/proximanova_regular.ttf") format("opentype"); 
}
                                           
body{
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 100%;
  background: #F7F5F3;
}
.backheader{
  height: 900px;
  right: 0px;
  top: 0px;
  background: #F7F5F3;
  background-image: url("../Images/Desktop/Group1548.png");  
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

                           /* блок титула */
.title{
  position: relative;
  width: 1440px;
  height: 108px;
  top: 20px;
}
.Logo{
  position: absolute;
  top: 0%;
  padding-left: 165px;
}
.Logo-tablet{
  display: none;
  position: absolute;
  left: 45px;
}
.Logo-mobile{
  position: absolute;
  left: 20px;
  display: none;
}
.contactss{
  display: flex;
  justify-content: space-between;
  width: 449px;
  height: 14px;
  position: absolute;
  top: -7px;
  right: 168px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #434343;
}
.contactss a{
  display: flex;
  justify-content: space-between;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #434343;
}
                           /* Блок меню */
.menu{
  position: absolute;
  display: flex;
  width: 1440px;
  height: 58px;
  top: 48px;
  border-top: 1px solid #D2D2D2;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}
.menu a{
  position: static;
  width: 49px;
  height: 14px;
  left: 0px;
  top: 0px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #434343;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  cursor: pointer;
}
.menu a:hover{
  color: #D0B08A;
}
.menu a:hover svg path{
  stroke: #D0B08A;
}
.services:hover .servicesblock{
  display: flex;
}
.services{
  padding-left: 165px;
}
.vacancy{
  padding-right: 165px;
}

/* блок вылезающего меню */

.servicesblock{
  display: none;
  position: absolute;
  width: 377px;
  height: 196px;
  left: 132px;
  top: 31px;
  background-image: url("../Images/backsvg.svg");
  justify-content: space-evenly;
  z-index: 1;
}
.servicesblock p1{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #949191;
  padding-bottom: 16px;
  margin: 0;
}
.servicesblock a1{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #434343;
  padding-bottom: 16px;
  margin: 0%;
}
.services_block_left{
  width: 148px ;
  height: 108px;
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.services_block_right{
  width: 109px;
  height: 108px;
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Блок вылезающего меню */
.menu-button-tablet{
  position: absolute;
  right: 45px;
  display: none;
}
                                                /* блок вылезающего меню */

.menu-tablet-drop{
  display: none;
  position: absolute;
  width: 100%;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.42);
  mix-blend-mode: normal;
  backdrop-filter: blur(5px);
  z-index: 50;
  margin-top: -20px;
}
.tablet-left-side{
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  background: #FFFFFF;
}
.menu-tablet-header{
  width: 100%;
  height: 40px;
  position: relative;
}
.menu-tablet-logo{
  position: absolute;
  left: 45px;
  top: 18px;
}
.menu-tablet-exit{
  position: absolute;
  right: 22px;
  top: 17px;
}

 /* Сервисы */
.menu-tablet-services{
  position: relative;
  top: 22px;
  display: flex;
  flex-direction: column;
  height: 290px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.menu-tablet-drop h1{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #434343;
  padding-left: 46px;
}
.menu-tablet-drop a{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%; 
  color: #434343;
  padding-left: 46px;
}
.menu-tablet-h1, .menu-tablet-prices, .menu-tablet-grooming, .menu-tablet-cats,
.menu-tablet-dogs{
  height: 58px;
  display: flex;
  align-items: center;
}
.menu-tablet-border{
  opacity: 0.2;
  margin: -1px 0;
  border: 1px solid #949191;
}
 /* Дополнительно*/
.menu-tablet-additionally{
  position: relative;
  height: 464px;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-tablet-h2, .menu-tablet-stocks, .menu-tablet-cynolist,
.menu-tablet-garden, .menu-tablet-spa, .menu-tablet-vacancy,
.menu-tablet-coloring, .menu-tablet-masters{
  height: 58px;
  display: flex;
  align-items: center;
}
 /* футер*/
.menu-tablet-footer{
  position: relative;
  width: 100%;
  height: 205px;
  top: 13px;
  background: #434343;
}
.menu-tablet-contacts{
  position: relative;
  top: 20px;
}
.menu-tablet-contacts h1{
  color: #FFFFFF !important;
}
.menu-tablet-contacts p{
  color: #FFFFFF !important;
  padding-left: 46px;
}
/* Текст внутри хедера */
.about-tutle{
  position: relative;
  width: 888px;
  height: 212px;
  top: 100px;
}

.about-tutle h1{
  font-family: Proxima Nova;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
  color: #434343;
  margin: 0%;
}
.about-tutle p1{
  font-family: Proxima Nova;
  font-size: 57px;
  font-style: italic;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
  
}
.about-tutle p{
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0%;
    padding-top: 40px;
}
.mainbutton{
  position: relative;
  top: 126px;
  width: 110px;
  height: 110px;
}
.mainbutton:hover{
  border-radius: 140px;
  box-shadow: 0px 4px 34px rgba(134, 125, 115, 0.25);
}
                           /* Блок сервисов */

.main-sevrvise{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; 
  width: 939px;
  height: 522px;
  top: -100px;
  text-align: center;
}
.main-sevrvise h1{
  height: 28px;
  left: 313px;
  top: 904px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 115%;
  text-align: center;
  color: #434343;
}
.main-sevrvise p{
  height: 88px;
  width: 180px;
  left: 993px;
  top: 948px;
  border-radius: nullpx;
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
                           /* Блок Подбора ухода  */

.checkbreed{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1056px;
  height: 258px;
  top: 40px;
}
.checkbreed h1{
  width: 540px;
  height: 82px;
  left: 165px;
  top: 1462px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  color: #434343;
}
.checkbreed p{
  width: 540px;
  height: 75px;
  left: 165px;
  top: 1572px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #434343;
  margin-bottom: 31px;
}
.search{
  display:flex
}
.PickBreed {
  padding: 12px 20px;
  background: #434343;
  border-radius: 6px;
  position: static;
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  outline: none;
  border: none;
}
.checkbreed-image{
  position: absolute;
  left: 559px;
  width: 448.15px;
  height: 387.78px;
  background-image: url("../Images/Desktop/checkbredim.png");
}
                           /* Блок категорий услуг  */
.categories{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 1109px;
  height: 628px;
  top: 260px;
  
}
.category1:hover, 
.category2:hover, 
.category3:hover, 
.category4:hover, 
.category5:hover, 
.category5:hover, 
.category6:hover{
  transform:  translateY(-4px);
  box-shadow: 0 4px 6px -7px rgb(134 125 115 / 10%),
   0 40px 30px -9px rgb(134 125 115 / 20%);
}
.categories p{
  position: absolute;
  padding-left: 40px;
  width: 169px;
  height: 62px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: uppercase;
  color: #434343;
}
.category1{
  width: 445px;
  height: 300px;
  background-image: url("../Images/Categories/KindGard.png");
}
.category2{
  width: 270px;
  height: 300px;
  background-image: url("../Images/Categories/cyno.png")
}
.category3{
  width: 338px;
  height: 300px;
  background-image: url("../Images/Categories/SPA.png")
}
.category4{
  width: 210px;
  height: 300px;
  background-image: url("../Images/Categories/Promo.png")
}
.category5{
  width: 345px;
  height: 300px;
  background-image: url("../Images/Categories/Coloring.png")
}
.category6{
  width: 498px;
  height: 300px;
  background-image: url("../Images/Categories/Prep.png")
}
                           /* БЛОК МАСТЕРОВ  не сделано !!!!!!!!! */
.staff{
  display: flex;
  position: relative;
  width: 1111px;
  height: 524px;
  top: 365px;
  flex-direction: column;
  /* margin: auto;*/
}
.staff h1{
  font-family: Proxima Nova;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0%;
}
.workers{
  display: flex;
  position: absolute;
  right: 0px;
  /*width: 152px;*/
  height: 217px;
  text-align: center;
}
.worker{
  position: relative;
  width: 162px;
  height: 163px;
  cursor: pointer;
}
.worker p{
  font-family: Proxima Nova;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
.worker img{
  width: 120px;
  height: 120px;
  background: #F7F5F3;
  border-radius: 10px;
}
                           /* внутренний блок МАСТЕРА  */








.aboutworker{
  position: relative;
  width: 100%;
  height: 278px;
  top: 180px;
}
.worker-block1{
  display: block;
}
.worker-block2{
  display: none;
}
.worker-block3{
  display: none;
}
.worker-block4{
  display: none;
}
/* первый рабочий */
.worker1, .worker2, .worker3, .worker4{
  position: absolute;
  width: 255px;
  height: 278px;
  background: #F7F5F3;
  border-radius: 10px;
  text-align: center;
}

.worker1 img{
  margin-top: 18px;
}
.worker2 img{
  margin-top: 18px;
}
.worker3 img{
  margin-top: 18px;
}
.worker4 img{
  margin-top: 18px;
}
.aboutworker h2{
  position: absolute;
  width: 227px;
  height: 32px;
  left: 380px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 115%;
  color: #434343;
}
.aboutworker p1{
  padding: 12px 20px;
  position: absolute;
  background: #DEE7E6;
  border-radius: 6px;
  width: 231px;
  height: 16px;
  left: 380px;
  top: 94px;
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #434343;
}
.aboutworker p2{ 
  padding: 12px 20px;
  position: absolute;
  left: 671px;
  bottom: 2102px;
  background: #DEE7E6;
  border-radius: 6px;
  width: 92px;
  height: 16px; 
  top: 94px;
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #434343;
}
.aboutworker p{
  position: absolute;
  width: 730px;
  height: 78px;
  left: 380px;
  top: 174px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #434343;
}



.worker-block2 p1{
  padding: 12px 20px;
  position: absolute;
  background: #DEE7E6;
  border-radius: 6px;
  width: 81px;
  height: 16px;
  left: 380px;
  top: 94px;
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #434343;
}
.worker-block2 p2{
  padding: 12px 20px;
  position: absolute;
  background: #DEE7E6;
  border-radius: 6px;
  width: 116px;
  height: 16px;
  left: 520px;
  top: 94px;
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #434343;
}
.worker-block2 p3{
  padding: 12px 20px;
  position: absolute;
  background: #DEE7E6;
  border-radius: 6px;
  width: 91px;
  height: 16px;
  left: 696px;
  top: 94px;
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #434343;
}







                           /* Вопросы  */
.question{
  position: relative;
  width: 489px;
  height: 37px;
  top: 460px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 120%;
  text-align: center;
  color: #434343;
}
.questions{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 500px;
}
.questions p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 706px;
  height: auto;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
  color: #434343;
  padding-bottom:8px;
  border-bottom: 1px solid #D2D2D2; 
  cursor: pointer;
}
.questions p1{
  display: block;
  width: 692px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #434343;
}
.answer1, .answer2, .answer3, .answer4 {
  display: none;
}
                            /* Блок фотоколлажа с инстаграммом  */
.instpets{
  position: relative;
  width: 100%;
  height: 268px;
  left: 0px;
  top: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instagrammsale{
  width: 974px;
  height: 23px;
  top: 0;
  display: flex;
  justify-content: center;
}
.instagrammsale p{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
}
.instagrammsale p1{
  font-family: Proxima Nova;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
.fotocolwidht{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fotocol{
  display: flex;
  margin-top: 40px;
  height: 205px;
  flex-flow: wrap;
  overflow: hidden;
  justify-content: center;
}
                            /* Блок Отзывов */
.reviews{
  position: relative;
  width: 994px;
  height: 50px;
  top: 820px;
}
.reviews h1{
  position: absolute;
  width: 136px;
  height: 41px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  color: #434343;
  margin: 0%;
}
.reviews p{
  position: absolute;
  width: 608px;
  height: 50px;
  left: 386px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  margin: 0%;
}
                              /* Блок Свайпера */

.reviews-swiper{
  position: relative;
  top: 827px;
  left: 0px;
  width: 1440px;
  overflow: hidden;
  border-radius: 10px;
}
.swiper {
  width: 100%;
  height: 100%;
  min-width: 0;
  margin-top: 0;
  border-radius: 10px;
}
.swiper-slide {
  display: block;
  max-width: 100%;
  height:auto;
}
.swiper-wrapper{
  padding: 30px;
}
                    /* кнопки  */
.buttonsposition{
  display: flex;
  align-content: center;
  justify-content: center;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  width: 107.38px;
  height: 16px;
}
.swapbuttons-next{
  content: 'next';
  cursor: pointer;
  z-index: 11;
}
.swapbuttons-prev{
  content: 'prev';
  cursor: pointer;
  z-index: 11;
}
.swiper-pagination{
  bottom: 0 !important;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #434343;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}
                        /* контент слайдера */
.swiper-slide-content {
  display: flex ;
  position: relative ;
  width: 445px ;
  height: 200px ;
  background: #F7F5F3;
  border-radius: 10px
}
.swiper-slide-content img{
  position: absolute;
  width: 160px;
  height: 160px;
  left: 20px;
  top: 20px;
  background: #FFFFFF;
  border-radius: 10px;
}
.swiper-slide-content h2{
  position: absolute;
  width: 119px;
  height: 20px;
  left: 200px;
  top: 26px;
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #434343;
  margin: 0;
}
.swiper-slide-content p{
  position: absolute;
  width: 214px;
  height: 96px;
  left: 200px;
  top: 68px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #434343;
  margin: 0;
}
                           /* Подвал сайта */
footer{
  position: relative;  
  display: flex;
  top: 925px;
  width: 100%;
  height: 258px;
  background: #434343;
  flex-direction: column;
  align-items: center;
}
.footerall{
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 1440px;
  height: 257px;
  background: #434343;
}
.footerup{
  position: relative;
  height: 206px;
  border-bottom: 1px solid #F9F9F9;
}
.footerdown{
  position: relative;
  height: 51px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 100%;
  color: #FFFFFF;
}
.lapagrooming{
  position: absolute;
  left: 165px;
  top: 20px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about-footer-down{
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 893px;
  width: 386px;
  align-items: center;
  top: 20px;
}

                           /* левая часть футра */

.footer_about{
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  width: 239px;
  left: 165px;
  top: 27px;
}
.footer_about svg{
  height: 42px;
  width: 193px;
  padding-bottom: 18px;
}
.footer_about h1{
  width: 191px;
  height: 42px;
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #DEE7E6;
  padding-bottom: 12px;
  margin: 0%;
}
.footer_about p{
  width: 239px;
  height: 42px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0%;
}
                           /* правая  часть футра */

.footer_right{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 122px;
  width: 740px;
  top: 40px;
  right: 166px;
  margin: 0%;
}
.footer_right h1{
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0%;
  padding-bottom: 20px;
}
.footer_right a{
  position: relative;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
  margin: 0%;
  margin-bottom: 10px;
  text-decoration: none;
}
.basic{
  display: flex;
  flex-direction: column;
  height: 122px;
  width: 115px;
  left: 534px;
  top: 40px;
  border-radius: 0px;
  
}
.additionaly{
  display: flex;
  flex-direction: column;
  height: 122px;
  width: 146px;
  left: 705px;
  top: 40px;
  border-radius: 0px;

}
.salon{
  display: flex;
  flex-direction: column;
  height: 122px;
  width: 88px;
  left: 917px;
  top: 40px;
  border-radius: 0px;

}
.contacts_footer{
  display: flex;
  flex-direction: column;
  height: 122px;
  width: 203px;
  left: 1071px;
  top: 40px;
  border-radius: 0px;
}



/*переход на таблет  */
@media (min-width: 1000px) and (max-width: 1440px) {

.uptitle{
  display: flex;
  justify-content: space-around;
}
.Logo {
  top: 0%;
  padding-left: 0px;
  left: 6%;
}
.title{
  width: 100%;
}
.menu{
  width: 100%;
  justify-content: space-evenly;
}
.contactss {
  right: 6%;
}
.vacancy {
  padding-right: 0;
}
.services {
  padding-left: 0px; 
}
.main-sevrvise {
  width: 942px;
}
footer{
  display: block;
}
.footerall{
  width: 100%;
}
.footerup{
  display: flex;
  justify-content: space-around;
}
.footer_about{
  left: 0;
  position: relative;
}
.footer_right {
  right: 0;
  position: relative;
}
.footerdown{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lapagrooming{
  position: relative;
  top: 0;
  left: 0;
}
.about-footer-down{
  position: relative;
  top: 0px;
  left: 0;
}
.staff{
  width: 1000px;
}
.aboutworker {
  width: 1000px
}
.aboutworker p {
  width: 616px;
}
.reviewsnew {
  width: 1000px
}
.categories{
  width: 1000px;
}
.category1{
  width: 399px;
  border-radius: 10px;
}
.category2{
  width: 250px;
  border-radius: 10px;
}
.category3{
  width: 310px;
  border-radius: 10px;
}
.category4{
  width: 190px;
  border-radius: 10px;
}
.category5{
  width: 316px;
  border-radius: 10px;
}
.category6{
  width: 450px;
  border-radius: 10px;
}
.checkbreed{
  width: 972px;
}
.servicesblock{
  left: 55px;
}
.reviews-swiper{
  width: 960px;
}
.checkbreed-image{
  left: 538px;
}
}



@media (min-width: 8px) and (max-width: 1000px) {
.backheader{
  background-image: url("../Images/Tablet/Group1550.png");  
  height: 711px;
}
.title{
  width: 100%;
}
.Logo{
  display: none;
}
.Logo-tablet{
  display: block;
}
.menu-button-tablet{
  display: block;
}
.menu{
  display: none;
}
.about-tutle{
  top: 0px;
  width: 623px;
  height: 88px;
}
.contactss{
font-size: 12px;
width: 344px;
right: 142px;

}
.contactss a{
font-size: 12px;
}
.about-tutle h1 {
  font-family: Proxima Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
.about-tutle p1 {
  font-family: Proxima Nova;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}  
.about-tutle p{
  font-size: 16px;
  line-height: 21px;
}
.mainbutton{
  text-align: center;
}
.mainbutton svg{
  width: 90px;
  height: 90px;
}
                                        /*СДЕЛАТЬ */
.mainbutton:hover{
  border-radius: 140px;
  box-shadow: 0px 4px 34px rgba(134, 125, 115, 0.25);
}


.main-sevrvise{
  flex-direction: row;
  width: 636px;
  height: 691px;
  top: -96px;
}
.main-sevrvise p {
  width: 237px;
}
.checkbreed{
  width: 629px;
}
.checkbreed h1 {
  width: 470px;
  font-size: 31px;
}
.checkbreed p{
  width: 418px;
}
.checkbreed-image {
 /* left: 440px;
  top: 48px;*/
  left: 369px;
    top: 19px;
  width: 276px;
  height: 261px;
  background-image: url("../Images/Tablet/cheakbreed_tablet.png")
}
.categories{
  width: 678px;
  height: 560px;
}
.category1{
  width: 290px;
  height: 270px;
  background-image: url("../Images/Tablet/Frame1191.png")
}
.category2{
  width: 201px;
  height: 270px;
  background-image: url("../Images/Tablet/Frame1220.png")
}
.category3{
  width: 147px;
  height: 270px;
  background-image: url("../Images/Tablet/Frame1221.png")
}
.category4{
  width: 147px;
  height: 270px;
  background-image: url("../Images/Tablet/Frame1222.png")
}
.category5{
  width: 220px;
  height: 270px;
  background-image: url("../Images/Tablet/Frame1223.png")
}
.category6{
  width: 271px;
  height: 270px;
  background-image: url("../Images/Tablet/Frame1224.png")
}
.categories p{
  width: 235px;
  height: 56px;
  font-size: 20px;
  padding-left: 24px;
}
.staff {
  width: 681px;
  height: 602px;
}
.workers{
  position: unset;
}
.aboutworker{
  top: 0px;
}
.worker1, .worker2, .worker3, .worker4 {
  width: 206px;
  height: 278px;
}
.aboutworker h2 {
  left: 237px;
}
.aboutworker p1 {
  left: 237px;
  top: 75px;
}
.aboutworker p2 {
  top: 75px;
  left: 523px;
}
.aboutworker p{
  left: 237px;
  width: 438px;
  height: 110px;
  top: 118px;
}
.worker-block2 p2{
  left: 373px;
}
.worker-block2 p3{
  left: 544px;
  top: 75px;
}
.questions p{
  width: 678px;
}
.questions p1{
  width: 678px;
}
.instagrammsale{
  width: 597px;
  height: 46px;
}
.instagrammsale p{
  line-height: 140%;
}
.reviews{
  width: 690px;
}
.reviews p{
  left: 206px;
  width: 474px;
  height: 44px;
  font-size: 16px;
}
.reviews-swiper{
  width:600px;
}

footer{
  height: 657px;
 
}
.footerall{
  display: block;
    flex-direction: unset;
    flex-wrap: unset;
    position: relative;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background: #434343;
}
.footerup{
  height: 602px;
    width: 100%;
    /* width: 521px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_about{
  height: 100px;
    width: 678px;
    left: 0;
    position: relative;
    display: flex;
    top: 40px;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}
.footer_about svg{
  width: 218px;
  height: 67px;

    padding-bottom: unset;
}
.footer_about h1{
  position: unset;
  height: 23px;
  width: 321px;
  left: 281px;
  top: 0;
  margin: unset;
}
.footer_about p{
  position: unset;
  width: 359px;
  left: 283px;
  top: 39px;
  font-size: 16px;
  line-height: 140%;
}
.footer_right{
  position: unset;
  display: unset;
  width: 0;
  top: 0;
  right: 0;
  margin: 0;
}
.basic{
  position: absolute;
    left: 15%;
    top: 178px;
    width: 132px;
}
.footer_right h1{
  font-size: 18px;
}
.footer_right a{
  font-size: 16px;
}
.additionaly{
  position: absolute;
    left: 50%;
    top: 178px;
}
.salon{
  position: absolute;
    left: 15%;
    top: 380px;
}
.contacts_footer{
  position: absolute;
    left: 50%;
    top: 380px;
    width: 234px;
}
.footerdown{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lapagrooming{
  position: unset;
  font-size: 15px;
}
.about-footer-down{
  width: 481px;
  position: unset;
}
.category3 p{
  width: 70px !important;
}























}